beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
isodate==0.7.2
mpegdash==0.4.0
numpy==2.2.4
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
ratelimit==2.2.1
redis==5.2.1
requests==2.32.3
six==1.17.0
soupsieve==2.6
spotipy==2.25.1
tidalapi==0.8.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
